// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
    background-color: #f9f9f9;
}

.pointer {
    cursor: pointer;
}

.pageHeader {
    border-bottom: 1px solid #dedede;
}
nav {
    z-index: 999;
}

.centerFormCardContainer {
    width: 100%;
    .centerFormCard {
        margin: 0 auto;
    }
}

.card,
.page {
    background-color: #fff;
}

.overflow-visible {
    overflow: visible;
}

#multiselectContainerReact {
    min-width: 40%;
    max-height: 100%;
    .chip {
        background: #2d3748;
    }
    .optionListContainer {
        .optionContainer {
            overflow-y: visible;
            .option {
                padding: 2px;
            }
        }
    }
}

.tagList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    li {
        display: inline-block;
    }
}

#react-confirm-alert {
    .react-confirm-alert-overlay {
        background-color: #2d3748;
        .react-confirm-alert-button-group {
            justify-content: center;
            button {
                background-color: #2d3748;
                color: #fff;
            }
        }
    }
}

.profile-photo {
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.profile-photo.profile-photo-preview {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.question-image {
    margin: 0 auto;
    max-width: 50%;
}

.question-image-preview {
    max-width: 40%;
}

.centered {
    margin: 0 auto;
}
