// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

nav {
    z-index: 999;
}

.centerFormCardContainer {
    width: 100%;
    .centerFormCard {
        margin: 0 auto;
    }
}
